<a 
  class="header__icon header__icon-cart" 
  href="{{ routes.cart_url }}"
  data-cart-link
>
  {%- if cart != empty -%}
    {% render 'icons', icon_name: 'cart-filled' %}
    <span class="header__cart-count p-5" data-cart-count>
      {% if cart.item_count < 10 %}
        {{ cart.item_count | prepend: '0' }}
      {% else %}
        {{ cart.item_count }}
      {% endif %}
    </span>
  {%- else -%}
    {% render 'icons', icon_name: 'cart' %}
  {% endif %}
</a>