<div class="styleguide__buttons">
  <p class="p-2 uc strong">Primary Button - On light</p>
  <div class="styleguide__button">
    <div>
      <button class="btn btn--primary">Shop Now</button>
      <p class="p-3">Default</p>
    </div>
    <div>
      <button class="btn btn--primary btn--hover">Shop Now</button>
      <p class="p-3">Hover</p>
    </div>
    <div>
      <button class="btn btn--primary btn--focus">Shop Now</button>
      <p class="p-3">Focused</p>
    </div>
    <div>
      <button class="btn btn--primary disabled">Shop Now</button>
      <p class="p-3">Disabled</p>
    </div>
  </div>
</div>
<div class="styleguide__buttons bg-rose">
  <p class="p-2 uc strong color-white">Primary Button - On Dark</p>
  <div class="styleguide__button">
    <div>
      <button class="btn btn--primary-dark">Shop Now</button>
      <p class="p-3 color-white">Default</p>
    </div>
    <div>
      <button class="btn btn--primary-dark btn--hover">Shop Now</button>
      <p class="p-3 color-white">Hover</p>
    </div>
    <div>
      <button class="btn btn--primary-dark btn--focus">Shop Now</button>
      <p class="p-3 color-white">Focused</p>
    </div>
    <div>
      <button class="btn btn--primary-dark disabled">Shop Now</button>
      <p class="p-3 color-white">Disabled</p>
    </div>
  </div>
</div>
<div class="styleguide__buttons">
  <p class="p-2 uc strong">Primary Button Small - On light</p>
  <div class="styleguide__button">
    <div>
      <button class="btn btn--small">Shop Now</button>
      <p class="p-3">Default</p>
    </div>
    <div>
      <button class="btn btn--small btn--hover">Shop Now</button>
      <p class="p-3">Hover</p>
    </div>
    <div>
      <button class="btn btn--small btn--focus">Shop Now</button>
      <p class="p-3">Focused</p>
    </div>
    <div>
      <button class="btn btn--small disabled">Shop Now</button>
      <p class="p-3">Disabled</p>
    </div>
  </div>
</div>
<div class="styleguide__buttons bg-rose">
  <p class="p-2 uc strong color-white">Primary Button Small - On Dark</p>
  <div class="styleguide__button">
    <div>
      <button class="btn btn--small btn--primary-dark">Shop Now</button>
      <p class="p-3 color-white">Default</p>
    </div>
    <div>
      <button class="btn btn--small btn--primary-dark btn--hover">Shop Now</button>
      <p class="p-3 color-white">Hover</p>
    </div>
    <div>
      <button class="btn btn--small btn--primary-dark btn--focus">Shop Now</button>
      <p class="p-3 color-white">Focused</p>
    </div>
    <div>
      <button class="btn btn--small btn--primary-dark disabled">Shop Now</button>
      <p class="p-3 color-white">Disabled</p>
    </div>
  </div>
</div>
<div class="styleguide__buttons bg-off-white">
  <p class="p-2 uc strong">Secondary Button - On Light</p>
  <div class="styleguide__button">
    <div>
      <button class="btn btn--secondary">Shop Now</button>
      <p class="p-3">Default</p>
    </div>
    <div>
      <button class="btn btn--secondary btn--hover">Shop Now</button>
      <p class="p-3">Hover</p>
    </div>
    <div>
      <button class="btn btn--secondary btn--focus">Shop Now</button>
      <p class="p-3">Focused</p>
    </div>
    <div>
      <button class="btn btn--secondary disabled">Shop Now</button>
      <p class="p-3">Disabled</p>
    </div>
  </div>
</div>
<div class="styleguide__buttons bg-rose">
  <p class="p-2 uc strong color-white">Secondary Button - On Dark</p>
  <div class="styleguide__button">
    <div>
      <button class="btn btn--secondary-dark">Shop Now</button>
      <p class="p-3">Default</p>
    </div>
    <div>
      <button class="btn btn--secondary-dark btn--hover">Shop Now</button>
      <p class="p-3">Hover</p>
    </div>
    <div>
      <button class="btn btn--secondary-dark btn--focus">Shop Now</button>
      <p class="p-3">Focused</p>
    </div>
    <div>
      <button class="btn btn--secondary-dark disabled">Shop Now</button>
      <p class="p-3">Disabled</p>
    </div>
  </div>
</div>
<div class="styleguide__buttons bg-light-grey">
  <p class="p-2 uc strong">Tabs - On Light</p>
  <tabs-element class="tabs">
    <div class="swiper" data-tabs-carousel>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <button class="p-2 tab tab--selected" data-tab>Category 1</button>
        </div>
        <div class="swiper-slide">
          <button class="p-2 tab" data-tab>Category 2</button>
        </div>
        <div class="swiper-slide">
          <button class="p-2 tab" data-tab>Category 3</button>
        </div>
        <div class="swiper-slide">
          <button class="p-2 tab" data-tab>Category 4</button>
        </div>
        <div class="swiper-slide">
          <button class="p-2 tab" data-tab>Category 5</button>
        </div>
        <div class="swiper-slide">
          <button class="p-2 tab" data-tab>Category 6</button>
        </div>
        <div class="swiper-slide">
          <button class="p-2 tab" data-tab>Category 7</button>
        </div>
      </div>
    </div>
  </tabs-element>
</div>
<div class="styleguide__buttons bg-rose">
  <p class="p-2 uc strong color-white">Tabs - On Dark</p>
  <tabs-element class="tabs--dark">
    <button class="p-2 w-bold tab tab--selected" data-tab>Connect</button>
    <button class="p-2 w-bold tab" data-tab>Shop</button>
    <button class="p-2 w-bold tab" data-tab>Rewards</button>
    <button class="p-2 w-bold tab" data-tab>Jobs</button>
    <button class="p-2 w-bold tab" data-tab>Learn</button>
  </tabs-element>
</div>
<div class="styleguide__buttons">
  <p class="p-2 uc strong">Text Link – On Light</p>
  <div class="styleguide__button">
    <div>
      <button class="btn btn--text">Default</button>
    </div>
    <div>
      <button class="btn btn--text btn--hover">Hover</button>
    </div>
    <div>
      <button class="btn btn--text btn--focus">Focused</button>
    </div>
  </div>
</div>
<div class="styleguide__buttons bg-rose">
  <p class="p-2 uc strong color-white">Text Link – On Dark</p>
  <div class="styleguide__button">
    <div>
      <button class="btn btn--text-dark">Default</button>
    </div>
    <div>
      <button class="btn btn--text-dark btn--hover">Hover</button>
    </div>
    <div>
      <button class="btn btn--text-dark btn--focus">Focused</button>
    </div>
  </div>
</div>
<div class="styleguide__play-buttons bg-light-grey">
  <p class="p-2 uc strong">Play / Pause Button</p>
  <div class="styleguide__play-button">
    <div class="button-container">
      <div class="btn--play">{% render 'icons', icon_name: 'play', class: 'play-btn' %}</div>
      <p class="p-3">Default</p>
    </div>
    <div class="button-container">
      <div class="btn--play btn--play-hover">{% render 'icons', icon_name: 'play', class: '' %}</div>
      <p class="p-3">Hover</p>
    </div>
    <div class="button-container">
      <div class="btn--pause">{% render 'icons', icon_name: 'pause', class: 'pause-btn' %}</div>
      <p class="p-3">Default</p>
    </div>
    <div class="button-container">
      <div class="btn--pause btn--pause-hover">{% render 'icons', icon_name: 'pause', class: 'pause-btn' %}</div>
      <p class="p-3">Hover</p>
    </div>
  </div>
</div>
