<div>
  <h6 class="">Desktop</h6>
  <p class=" p3">Margin 54px | Gutter 12px</p>
  <h6 class="">Mobile</h6>
  <p class=" p3">Margin 28px | Gutter 8px</p>
  <div class="grid">
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
  </div>
</div>
