<li
  id="{{ block.id }}"
  class="grid__item"
>
  {% content_for 'block',
    type: 'media',
    id: 'static-media-card'
  %}
</li>

{% schema %}
{
  "name": "Media Card",
  "tag": null,
  "presets": [
    {
      "name": "Media Card",
    }
  ]
}
{% endschema %}
