<tabs-element 
  class="tabs-element"
  style='
    --tabs-margin-bottom: {{ block.settings.margin_bottom }}rem;
  '
>
  <slider-component class='tabs-slider'>
    <div 
      class="
        grid
        slider 
        slider--mobile 
        slider--desktop
        tabs
      " 
      role="tablist"
    >
      {% content_for "blocks" %}
    </div>
  </slider-component>
</tabs-element>

{% schema %}
{
  "name": "Tabs",
  "settings": [
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "t:sections.general.margin_bottom",
      "default": 0.5,
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem"
    }
  ],
  "blocks": [
    {
      "type": "_tab"
    }
  ],
  "presets": [
    {
      "name": "Tabs",
      "blocks": [
        {
          "name": "Tab",
          "type": "_tab",
          "settings": {
            "index": 0,
            "text": "Tab 1"
          }
        },
        {
          "name": "Tab",
          "type": "_tab",
          "settings": {
            "index": 1,
            "text": "Tab 2"
          }
        }
      ]
    }
  ]
}
{% endschema %}