<a 
  class="body tab__item"
  {% if block.settings.link != blank %}
    href="{{ block.settings.link }}"
  {% else %}
    role="link" aria-disabled="true"
  {% endif %}
  {% if block.settings.link_external %}
    target="_blank"
  {% endif %}
  {% if request.path contains block.settings.link %}
    aria-selected="true"
  {% endif %}
>
  {{ block.settings.text }}
</a>

{% schema %}
{
  "name": "Tab",
  "settings": [
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "t:sections.general.text"
    },
    {
      "type": "checkbox",
      "id": "link_external",
      "label": "Open in new tab",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Tab"
    }
  ]
}
{% endschema %}