<div class="bulk-form__header container">
  <h2 class="h2">{{ section.settings.heading }}</h2>
  <p class="bulk-form__header-subheading p-2">{{ section.settings.subheading }}</p>
  <p class="bulk-form__header-promo p-3">{{ section.settings.promo_text }}</p>
</div>
