<modal-opener
  class="product__text-video-trigger"
  data-modal="#{{ id }}"
>
  <button
    class="link link--unstyled"
    type="button"
    aria-haspopup="dialog"
  >
    {{ text }}
  </button>
</modal-opener>
