<listing-form class="facet__sort hidden--mobile">
  {%- if display_count -%}
    <div class="facet__sort-count">
      {{ 'templates.search.results_with_count' | t: count: search.results_count }}
    </div>
  {%- endif -%}

  <form id="FiltersSortForm">
    <div class="facet__sort-container">
      <label class="body medium" for="SortBy">{{ 'products.filters.sort_by_label' | t }}</label>
      <div class="field--select">
        {%- assign sort_by = listing.sort_by | default: listing.default_sort_by -%}
        <select
          name="sort_by"
          class="field__select"
          id="SortBy"
          aria-describedby="a11y-refresh-page-message"
        >
          {%- for option in listing.sort_options -%}
            <option
              value="{{ option.value | escape }}"
              {% if option.value == sort_by %}
                selected="selected"
              {% endif %}
            >
              {{ option.name | escape }}
            </option>
          {%- endfor -%}
        </select>
        {% render 'icon-caret' %}
      </div>
    </div>
  </form>
</listing-form>
