<div>
  <h2 class="title h2">Perfectly <i>Nineties</i></h2>
  <p class="p-2 font-secondary">
    <span class="uppercase">abcdefghijklmnopqrstuvwxyz</span><br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    ! ? $ @ # & % { } ( ) 45° ½ © ® ™ <br>
    ↑ ↓ ← →
  </p>
  <hr>
</div>

<div>
  <h2 class="title font-primary h2">ITC Avant Garde</h2>
  <p class="p-2">
    <span class="uppercase">abcdefghijklmnopqrstuvwxyz</span><br>
    abcdefghijklmnopqrstuvwxyz<br>
    0123456789<br>
    ! ? $ @ # & % { } ( ) 45° ½ © ® ™ <br>
    ↑ ↓ ← →
  </p>
  <hr>
</div>
<div class="hide-desktop"><hr></div>
<div>
  <h6>Heading Styles</h6>
  <h1 class="h1">H1 <i>H1</i></h1>
  <h2 class="h2">H2 <i>H2</i></h2>
  <h3 class="h3">H3 <i>H3</i></h3>
  <h4 class="h4">H4 <i>H4</i></h4>
  <h5 class="h5">H5 <i>H5</i></h5>
  <p class="s-1">S1</p>
  <p class="s-2">S2</p>
  <p class="s-3">S3</p>
  <hr>
  <h6>Paragraph Styles</h6>
  <p class="p-1 w-bold">P1 – Bold</p>
  <p class="p-1 w-regular">P1 - Regular</p>
  <p class="p-1 w-bold underline">P1 – Bold Underline</p>
  <p class="p-2 w-bold">P2 - Bold</p>
  <p class="p-2">P2 - Regular</p>
  <p class="p-2 w-light">P2 - Light</p>
  <p class="p-3 w-bold">P3 - Bold</p>
  <p class="p-3">P3 - Regular</p>
  <p class="p-3 w-light">P3 - Light</p>
  <p class="p-4 w-bold">P4 - Bold</p>
  <p class="p-4">P4 - Regular</p>
  <p class="p-4 w-light">P4 - Light</p>
  <p class="p-5 w-bold">P5 - Bold</p>
  <p class="p-5">P5 - Regular</p>
  <p class="p-5 w-light">P5 - Light</p>

  <h6>Input Label</h6>
  <p class="label">Input Label</p>

  <h6>Action Styles</h6>
  <p class="a-1">Action 1</p>
  <p class="a-1 underline">Action 1</p>
</div>
