#recover,
#recover + div {
  display: none;
}

#recover:target {
  display: block;
}

#recover:target + div {
  display: block;
}

#recover:target ~ #login,
#recover:target ~ #login + div {
  display: none;
}

#recover,
#login {
  scroll-margin-top: 20rem;
}

#recover {
  margin-bottom: 0;
}

.half-banner {
  display: flex;
  width: 100%;
}

.half-banner__container {
  display: flex;
  width: 100%;
  max-height: 100vh;
}

.half-banner__container--no-image {
  justify-content: center;
}

.half-banner__empty-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  overflow: auto;
  padding: 2rem 10rem;
}

.half-banner__image-message__mobile h1,
.half-banner__image-message__mobile h5 {
  color: rgb(var(--color-background)) !important;
}

.sign-up__link {
  font-size: 0.7rem;
  text-decoration: none;
  text-align: center;
}

.half-banner__image-side {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.half-banner__media {
  position: relative;
  width: 100%;
  height: 100%;
}

.responsive-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: -5px;
}

.half-banner__image-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .half-banner__container {
    min-height: 500px;
  }
}

@media screen and (max-width: 749px) {
  .half-banner {
    flex-direction: column;
  }

  .half-banner__empty-side,
  .half-banner__image-side {
    width: 100%;
  }

  .half-banner__container {
    flex-direction: column;
  }

  .half-banner__empty-side {
    order: 2;
    width: 100%;
    padding: 2rem 2rem;
  }

  .half-banner__image-side {
    order: 1;
    width: 100%;
    max-height: 30vh;
  }
}
