.image-with-text .gradient {
  transform: perspective(0);
}

.image-with-text__grid {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
}

.image-with-text__grid--large .image-with-text__text-item,
.image-with-text__grid--small .image-with-text__media-item {
  width: 40%;
}

.image-with-text__grid--medium .image-with-text__text-item,
.image-with-text__grid--medium .image-with-text__media-item {
  width: 50%;
}

.image-with-text__grid--small .image-with-text__text-item,
.image-with-text__grid--large .image-with-text__media-item {
  width: 60%;
}

@media screen and (max-width: 749px) {
  .image-with-text__grid {
    flex-direction: column;
  }

  .image-with-text__media-item,
  .image-with-text__text-item {
    width: 100% !important;
  }
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse {
    flex-direction: row-reverse;
  }

  .image-with-text--overlap {
    margin-top: 1rem;
  }

  .image-with-text--overlap .image-with-text__text-item {
    position: relative;
    top: -1rem;
  }

  .image-with-text--overlap
    .image-with-text__grid--small
    .image-with-text__text-item {
    margin-left: -4rem;
    width: calc(60% + 4rem);
  }

  .image-with-text--overlap
    .image-with-text__grid--medium
    .image-with-text__text-item {
    margin-left: -4rem;
    width: calc(50% + 4rem);
  }

  .image-with-text--overlap
    .image-with-text__grid--large
    .image-with-text__text-item {
    margin-left: -3rem;
    width: calc(40% + 3rem);
  }

  .image-with-text--overlap
    .image-with-text__grid--reverse.image-with-text__grid--small
    .image-with-text__text-item {
    margin-left: auto;
    margin-right: -4rem;
    width: calc(60% + 4rem);
  }

  .image-with-text--overlap
    .image-with-text__grid--reverse.image-with-text__grid--medium
    .image-with-text__text-item {
    margin-left: auto;
    margin-right: -4rem;
    width: calc(50% + 4rem);
  }

  .image-with-text--overlap
    .image-with-text__grid--reverse.image-with-text__grid--large
    .image-with-text__text-item {
    margin-left: auto;
    margin-right: -3rem;
    width: calc(40% + 3rem);
  }
}

.image-with-text__text-item {
  display: flex;
  flex-direction: column;
}

.image-width-text__text-item--collection {
  display: block;
  height: fit-content;
}

.image-with-text__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  position: relative;
  z-index: 1;
  padding: 1rem;
  gap: 1rem;
}

.image-with-text__content * {
  width: auto;
  margin: 0;
}

.image-with-text__content--collection {
  display: block;
}

.image-with-text--no-overlap .image-with-text__content {
  height: 100%;
}

@media screen and (min-width: 750px) {
  .image-with-text__content {
    gap: 1.5rem;
    padding: 5rem 0 5rem 5rem;
  }

  .image-with-text__grid--reverse .image-with-text__content {
    padding: 5rem 5rem 5rem 0;
  }

  .image-with-text__content--top,
  .image-with-text__text-item--top {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .image-with-text__content--middle,
  .image-with-text__text-item--middle {
    justify-content: center;
    align-self: center;
  }

  .image-with-text__content--bottom,
  .image-with-text__text-item--bottom {
    justify-content: flex-end;
    align-self: flex-end;
  }

  .image-with-text__content--desktop-left {
    align-items: flex-start;
    text-align: left;
  }

  .image-with-text__content--desktop-center {
    align-items: center;
    text-align: center;
  }

  .image-with-text__content--desktop-right {
    align-items: flex-end;
    text-align: right;
  }
}

@media screen and (max-width: 749px) {
  .image-with-text__content--mobile-left {
    align-items: flex-start;
  }

  .image-with-text__content--mobile-center {
    align-items: center;
    text-align: center;
  }

  .image-with-text__content--mobile-right {
    align-items: flex-end;
    text-align: right;
  }
}
