.pagination-wrapper {
  margin-top: 2rem;
}

.pagination__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__more {
  width: auto;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
}

.pagination__list > .pagination__item--next {
  margin-right: 1rem;
}

.pagination__list > .pagination__item--prev {
  margin-left: 1rem;
}

.pagination__item {
  text-decoration: none;
}

.pagination__item--current {
  text-decoration: underline;
}

.pagination__item--prev .icon {
  transform: rotate(-180deg);
}
