.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  position: relative;

  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  border-color: rgba(var(--color-foreground), 0.5);
  border-style: solid;
  border-width: var(--card-border-width);
  box-shadow: var(--card-shadow);
}

.card--horizontal {
  display: grid;
  grid-template-columns: 75px 1fr;
  column-gap: var(--column-spacing);
  row-gap: 0;
  align-items: flex-start;
}

.card--horizontal .card__details {
  margin-top: 0;
  padding: calc(var(--column-spacing) / 2);
  padding-left: 0;
}

.card--horizontal .card__actions {
  grid-column: 1 / 3;
  padding: 0;
}

.card__image-wrapper {
  position: relative;
}

.card__image-wrapper:hover .card__quickview,
.card__image-wrapper:focus .card__quickview,
.card__image-wrapper:focus-within .card__quickview {
  opacity: 1;
}

.card__quickview {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  opacity: 0;
  transition: all 100ms ease-in-out;
  z-index: 10;
}

.card__details {
  margin-top: calc(var(--row-spacing) / 2);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: var(--card-details-padding);
  flex: 1 1 100%;
}

.card--small .card__details {
  padding: calc(var(--card-details-padding) / 2);
}

.card__details * {
  margin: 0;
}

.card__title {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.card__title-title {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__text {
  width: 100%;
  display: flex;
  align-items: center;
  gap: calc(var(--column-spacing) / 2);
}

.card__text--spaced {
  justify-content: space-between;
}

.card__text--column {
  flex-direction: column;
  align-items: baseline;
}

.card__sku--with-vendor:after {
  content: '|';
  margin-left: calc(var(--column-spacing) / 2);
}

.card__stock {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 700;
}

.card__stock svg {
  width: 16px;
  height: 16px;
}

.card__price {
  font-weight: 700;
}

.card__subtitle {
  width: 100%;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
}

.card__description-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.card__description {
  display: -webkit-box;
  width: 100%;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-form__buy-buttons {
  margin-top: auto;
}

.card__actions {
  width: 100%;
  margin-top: calc(var(--row-spacing) / 2);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: var(--card-details-padding);
}

/** Swatches **/
.card__swatches {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 12px;
}

.card__swatches .swatch,
.card__swatches .skeleton {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 749px) {
  .card__swatches .swatch,
  .card__swatches .skeleton {
    width: 30px;
    height: 30px;
  }
}
