.customer__account {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

/** Tables */
.customer th,
.customer td {
  padding: 16px 8px;
  text-align: left;
  border: 1px solid #fafafa;
}

.customer th {
  font-weight: 500;
  background: #f2f2f2;
}

.customer tbody tr {
  background: #fafafa;
}

.customer tbody tr:nth-child(even) {
  background: #f2f2f2;
}

/* Addresses */
.customer__addresses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.customer__address-actions {
  display: flex;
  gap: 16px;
}

.customer__address-actions button {
  width: 150px;
}

.customer__order {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .customer__order {
    flex-direction: column;
  }
}

.customer__order-details {
  flex: 1;
}

.customer__order-addresses {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.customer__order-address {
  flex: 1;
}
