/* Header */
.section-header.shopify-section-group-header-group {
  z-index: 3;
}

.shopify-section-header-sticky {
  position: sticky;
  top: -1px;
}

.shopify-section-header-hidden {
  top: calc(-1 * var(--header-height));
}

.shopify-section-header-hidden.menu-open {
  top: 0;
}

.section-header.animate {
  transition: top 0.15s ease-out;
}

.shopify-section-group-header-group {
  z-index: 3;
}

.section-header ~ .shopify-section-group-header-group {
  z-index: initial;
}

.header-wrapper {
  display: block;
  position: relative;
  background-color: rgb(var(--color-background));
}

.header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 1rem;
  row-gap: 2rem;
}

@media screen and (min-width: 750px) {
  /* Logo, Menu (Left), Icons */
  .header.header--logo-menu_left-icons > .header__menu {
    flex-grow: 1;
  }

  .header.header--logo-menu_left-icons > .header__icons {
    margin-left: auto;
  }

  /* Logo, Menu (Center), Icons */
  .header.header--menu-logo_center-icons {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }

  .header.header--logo-menu_center-icons > .header__menu {
    flex-grow: 1;
    justify-content: center;
  }

  /* Logo, Menu (Below, Left), Icons */
  .header.header--logo-menu_below_left-icons > .header__menu {
    flex: 0 0 100%;
  }

  .header.header--logo-menu_below_left-icons > .header__icons {
    margin-left: auto;
  }

  /* Logo, Menu (Below, Center), Icons */
  .header.header--logo-menu_below_center-icons > .header__menu {
    justify-content: center;
    flex: 0 0 100%;
  }

  .header.header--logo-menu_below_center-icons > .header__icons {
    margin-left: auto;
  }

  /* Menu, Logo (Left), Icons */
  .header.header--menu-logo_left-icons > .header__logo {
    display: flex;
    flex-grow: 1;
  }

  .header.header--menu-logo_left-icons > .header__icons {
    margin-left: auto;
  }

  /* Menu, Logo (Center), Icons */
  .header.header--menu-logo_center-icons > .header__logo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}

@media screen and (max-width: 749px) {
  .header {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  /* Logo, Menu (Left), Icons */
  .header.header--menu-logo_left-icons-mobile {
    grid-template-columns: auto 1fr 1fr;
  }

  .header.header--menu-logo_left-icons-mobile > .header__menu-drawer {
    order: 1;
  }

  .header.header--menu-logo_left-icons-mobile > .header__logo {
    order: 2;
    justify-self: flex-start;
  }

  .header.header--menu-logo_left-icons-mobile > .header__icons {
    order: 3;
  }

  /* Logo, Menu (Center), Icons */
  .header.header--menu-logo_center-icons-mobile {
    grid-template-columns: 1fr auto 1fr;
  }

  .header.header--menu-logo_center-icons-mobile > .header__menu-drawer {
    order: 1;
  }

  .header.header--menu-logo_center-icons-mobile > .header__logo {
    order: 2;
  }

  .header.header--menu-logo_center-icons-mobile > .header__icons {
    order: 3;
  }

  /* Icons, Logo (left), Menu */
  .header.header--icons-logo_left-menu-mobile {
    grid-template-columns: auto 1fr 1fr;
  }

  .header.header--icons-logo_left-menu-mobile > .header__menu-drawer {
    order: 3;
    justify-self: end;
  }

  .header.header--icons-logo_left-menu-mobile > .header__logo {
    justify-self: flex-start;
    order: 2;
  }

  .header.header--icons-logo_left-menu-mobile > .header__icons {
    order: 1;
  }

  /* Icons, Logo (center), Menu */
  .header.header--icons-logo_center-menu-mobile {
    grid-template-columns: 1fr auto 1fr;
  }

  .header.header--icons-logo_center-menu-mobile > .header__menu-drawer {
    order: 3;
    justify-self: flex-end;
  }

  .header.header--icons-logo_center-menu-mobile > .header__logo {
    order: 2;
  }

  .header.header--icons-logo_center-menu-mobile > .header__icons {
    order: 1;
    justify-self: flex-start;
  }
}

.header *[tabindex='-1']:focus {
  outline: none;
}

/* Logo */
.header__logo {
  margin: 0;
  line-height: 0;
  justify-self: center;
  text-align: center;
}

.header__logo svg {
  width: var(--logo-width);
}

@media screen and (max-width: 749px) {
  .header__logo svg {
    width: var(--logo-width-mobile);
  }
}

.header__heading-logo {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* Header menu */
header-menu > details,
details-disclosure > details {
  position: relative;
}

@keyframes animateMenuOpen {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header__menu {
  display: none;
}

@media screen and (min-width: 750px) {
  .header__menu {
    display: flex;
    justify-content: flex-start;
  }
}

.header__menu .list-menu {
  display: flex;
  gap: calc(var(--column-spacing) * 2);
  flex-wrap: wrap;
}

.header__menu {
  padding: 0 var(--row-spacing);
}

.header__menu-item {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: space-evenly;
  transition: opacity var(--duration-default) ease;
  font-size: 15px;
}

.header__menu-item svg {
  height: auto;
  pointer-events: none;
  width: 10px;
  vertical-align: super;
  transition: all var(--duration-default) ease;
}

.mega-menu {
  position: static;
}

.mega-menu__content {
  background-color: rgb(var(--color-background));
  left: 0;
  overflow-y: auto;
  padding-bottom: calc(var(--row-spacing) * 2);
  /*padding-top: calc(var(--row-spacing) * 2);*/
  position: absolute;
  right: 0;
  top: 100%;
  border-width: var(--dialog-border-width);
  border-style: solid;
  border-color: rgba(var(--color-foreground), var(--dialog-border-opacity));
  border-bottom-right-radius: var(--dialog-corner-radius);
  border-bottom-left-radius: var(--dialog-corner-radius);
  border-left: 0;
  border-top: 0;
  border-right: 0;

  opacity: 0;
  transform: translateY(-1.5rem);

  transition: all var(--duration-fast) ease-in-out;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: var(--row-spacing);
}

.mega-menu__column {
  width: 100%;
  max-width: 350px;
}

.mega-menu__column--images {
  max-width: 100%;
}

.mega-menu__column + .mega-menu__column--images {
  margin-left: auto;
  max-width: 350px;
}

.mega-menu__parent {
  display: block;
  font-size: 18px;
  padding: 12px 10px;
}

.mega-menu__parent--underline {
  padding-bottom: var(--row-spacing);
  border-bottom: 2px solid rgb(var(--color-foreground));
}

.mega-menu__parent--underline + .mega-menu__children {
  margin-top: calc(var(--row-spacing) + (var(--row-spacing) * 0.5));
}

.mega-menu__children {
  display: flex;
  flex-direction: column;
}

.mega-menu__child {
  display: flex;
  gap: 6px;
  align-items: center;

  padding: 12px 10px;
  border-bottom: 1px solid #f0f0f0;
}

.mega-menu__child:hover {
  background-color: #f5f5f5;
}

.mega-menu__child--color {
  padding-bottom: 1px;
  padding-top: 1px;
  border-bottom: none !important;
  background: transparent !important;
}

.mega-menu__child--color:hover {
  text-decoration: underline !important;
}

.mega-menu__colorbox {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  display: inline-block;
}

.mega-menu__images {
  width: 100%;
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mega-menu__images--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mega-menu__images--grid-1 {
  grid-template-columns: repeat(1, 1fr);
}

.mega-menu__images--grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.mega-menu__images--grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.mega-menu__images--grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.mega-menu__images--grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.mega-menu__images--grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.mega-menu__images--stacked {
  flex-direction: column;
}

.mega-menu__images--slider .slider__slide {
  width: calc(100% / 3 * 2);
}

.mega-menu__image {
  width: 100%;
}

.mega-menu__image-content {
  margin-top: var(--row-spacing);
  gap: calc(var(--row-spacing) * 0.25);
}

.mega-menu__image-content * {
  margin: 0;
}

.mega-menu__image-link {
  margin-top: calc(var(--row-spacing) * 0.25);
}

/* Header icons */
.header__icons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.header__icons--half {
  gap: 0.5rem;
}

@media screen and (min-width: 750px) {
  .header__icons--relative {
    position: relative;
  }
}

.header__icons .shopify-app-block,
.header__icon {
  display: flex;
  align-items: center;
  gap: 4px;
  height: auto;
  width: auto;
  padding: 0;
  position: relative;
  text-decoration: none;
}

.header__button .icon,
.header__icon .icon {
  color: rgb(var(--color-foreground));
  height: var(--icon-size);
  width: var(--icon-size);
  fill: none;
}

.header__icon span {
  height: 100%;
}

.header__button {
  width: auto;
  gap: 0.5rem;
  align-items: center;
  border-radius: var(--inputs-radius);
}

account-icon {
  display: flex;
}

/* Cart Bubbles */
.cart-count-bubble:empty {
  display: none;
}

.visually-hidden + .cart-count-bubble {
  position: absolute;
  line-height: 1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-body-xsmall);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.header__button .cart-count-bubble {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  left: auto;
  height: var(--icon-size);
  width: var(--icon-size);
  border-radius: 50%;
  background: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

.header__icon--cart.pulsate {
  animation: tada 1s infinite;
}

.header__icon--cart.pulsate .cart-count-bubble {
  box-shadow: 0 0 0 0 rgb(0 119 200 / 10%), 0 0 0 0 rgb(0 128 200 / 28%),
    0 0 0 0 rgb(0 109 200 / 30%);
  animation: pulsate 1s infinite ease-in-out;
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulsate {
  100% {
    box-shadow: 0 0 0 40px rgba(0, 200, 0, 0), 0 0 0 80px rgba(0, 200, 0, 0),
      0 0 0 160px rgba(0, 200, 0, 0);
  }
}

/* Search */
.header__search {
  display: inline-flex;
  line-height: 0;
}

.header__search--inline {
  min-width: 300px;
}

.search-modal__form {
  width: 100%;
}

.header__search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search-form > .field__input {
  border-top-left-radius: var(--inputs-radius);
  border-bottom-left-radius: var(--inputs-radius);
}

.header__search-form > .button {
  width: auto;
  min-width: 2rem;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--inputs-radius);
  border-bottom-right-radius: var(--inputs-radius);
}

details[open] > .search-modal {
  opacity: 1;
  animation: animateMenuOpen var(--duration-default) ease;
}

details[open] .modal-overlay {
  display: block;
}

details[open] .modal-overlay::after {
  position: absolute;
  content: '';
  background-color: rgb(var(--color-foreground), 0.5);
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
}

.search-modal {
  opacity: 0;
  height: calc(var(--inputs-height) + 3rem);
  top: 100%;
  overflow: visible;
  padding: 0;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .search-modal {
    height: calc(var(--inputs-height) + 1rem);
  }
}

.search-modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Header menu drawer */
.header__icon--menu .icon {
  display: block;
  transition: transform 150ms ease, opacity 150ms ease;
}

.js details[open]:not(.menu-opening) > .header__icon--menu .icon-close {
  visibility: hidden;
}
