/* Filters */
.filters__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filters__container {
  display: flex;
  align-items: center;
}

.filters__drawer {
  height: 100%;
}

.filters__details {
  height: 100%;
}

.filters__toggle {
  display: flex;
  align-items: center;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-style: solid;
  border-color: rgba(var(--color-button), var(--inputs-border-opacity));
  border-width: var(--inputs-border-width);
  border-radius: var(--inputs-radius);
  box-shadow: var(--inputs-shadow);
  padding: 8px;
  height: 100%;
  font-weight: 500;
}

.filters__toggle svg {
  width: 1rem;
  height: auto;
}

@media (max-width: 749px) {
  .filters__wrapper {
    gap: 1rem;
  }

  .filters__container,
  .filters__wrapper facet-filters-form {
    width: 100%;
  }

  .filters__container menu-drawer,
  .filters__wrapper .field--select {
    width: 100%;
  }

  .filters__toggle {
    -webkit-appearance: none;
    appearance: none;

    font-family: var(--font-body-family);
    font-size: var(--font-body);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    line-height: var(--font-body-height);
    letter-spacing: var(--font-body-spacing);
    margin: 0;

    padding: var(--inputs-padding);

    border-style: solid;
    border-color: rgba(var(--color-button), var(--inputs-border-opacity));
    border-width: var(--inputs-border-width);
    border-radius: var(--inputs-radius);
    box-shadow: var(--inputs-shadow);

    width: 100%;
    min-width: 3rem;
    height: var(--inputs-height);

    margin: 0;
    display: inline-flex;
    transition: all var(--duration-short) ease;
  }
}

.filter__details {
  padding: 1.25rem 0;
  border-left: 0;
  border-right: 0;
  border-top: 0px;
}

.filters__plus {
  display: flex;
}

.filter__details[open] .filters__plus {
  display: none;
}

.filters__minus {
  display: none;
}

.filter__details[open] .filters__minus {
  display: flex;
}

.filter__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
}

.filters__list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  overflow-y: auto;
  max-height: 20rem;
  box-sizing: border-box;
}

.filter__label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

@media (max-width: 749px) {
  .filter__label {
    padding: 6px 0;
  }
}

/* Sort */
.facet__sort {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-left: auto;
}

.facet__sort-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border-style: solid;
  border-color: rgba(var(--color-button), var(--inputs-border-opacity));
  border-width: var(--inputs-border-width);
  border-radius: var(--inputs-radius);
  box-shadow: var(--inputs-shadow);
  padding-left: 8px;
}

.facet__sort-container .field__select {
  border: 0;
  padding-left: 0;
}

/* Desktop filters */
.filters__desktop {
  min-width: 250px;
  max-width: 300px;
  width: 100%;
}

.filters__desktop listing-form {
  width: 100%;
}

/** Pills */
.filters__pills {
  margin: 1rem 0;
  display: flex;
  flex: 0 0 100%;
  gap: 0.875rem;
  flex-wrap: wrap;
  align-items: center;
}

.filters__pill {
  display: flex;
  font-size: var(--font-heading-h5);
  font-weight: 500;
  cursor: pointer;

  background: transparent;
  color: var(--color-foreground) !important;

  border-style: solid;
  border-color: rgba(var(--color-button), var(--inputs-border-opacity));
  border-width: var(--inputs-border-width);
  border-radius: var(--inputs-radius);
  box-shadow: var(--inputs-shadow);
}

.filters__pill--clear {
  border: 0;
}

.filters__pill-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 8px 12px;

  color: inherit !important;
  text-decoration: none;
}

.filters__pill-link:after {
  content: '\d7';
  font-size: 20px;
  line-height: 1;
  margin-top: -3px;
}

.filters__pill--clear .filters__pill-link {
  text-decoration: underline;
  padding: 8px 0px;
}

.filters__pill--clear .filters__pill-link:after {
  content: '';
}
