.media-banner {
  position: relative;
  background: var(--color-beige);
}

.media-banner__media::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 1;
  pointer-events: none;
}

.media-banner__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 3.375rem;
}

.media-banner__box {
  pointer-events: auto;
  width: 100%;
  max-width: 532px;  

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (min-width: 750px) {
  .media-banner__content--top-left {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .media-banner__content--top-center {
    justify-content: flex-start;
    align-items: center;
  }

  .media-banner__content--top-right {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .media-banner__content--middle-left {
    justify-content: center;
    align-items: flex-start;
  }

  .media-banner__content--middle-center {
    justify-content: center;
    align-items: center;
  }

  .media-banner__content--middle-right {
    justify-content: center;
    align-items: flex-end;
  }

  .media-banner__content--bottom-left {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .media-banner__content--bottom-center {
    justify-content: flex-end;
    align-items: center;
  }

  .media-banner__content--bottom-right {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .media-banner__box--left {
    text-align: left;
  }

  .media-banner__box--center {
    text-align: center;
  }

  .media-banner__box--right {
    text-align: right;
  }
}

@media screen and (max-width: 749px) {
  .media-banner__content {
    padding: 1.75rem;
  }

  .media-banner__box {
    gap: 1.25rem;
  }

  .media-banner__content--top-mobile {
    justify-content: flex-start;
  }
  
  .media-banner__content--middle-mobile {
    justify-content: center;
  }

  .media-banner__content--bottom-mobile {
    justify-content: flex-end;
  }

  .media-banner__content--below-mobile {
    position: relative;
  }

  .media-banner__box--left-mobile {
    text-align: left;
  }

  .media-banner__box--center-mobile {
    text-align: center;
  }

  .media-banner__box--right-mobile {
    text-align: right;
  }
}