sticky-product {
  position: fixed;
  display: none;
  width: 100%;

  z-index: 2;

  top: 0;
  left: 0;
  right: 0;

  padding: 1rem 0;

  border-radius: var(--dialog-corner-radius);
  border-color: rgba(var(--color-foreground), var(--dialog-border-opacity));
  border-style: solid;
  border-width: var(--dialog-border-width);

  border-top: 0;
  border-left: 0;
  border-right: 0;

  box-shadow: var(--dialog-shadow);

  animation: var(--animation-fade-in);
}

sticky-product[data-sticky-header='true'] {
  top: calc(var(--header-height) - 1px);

  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.product-sticky__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-sticky__info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.product-sticky__info * {
  margin: 0;
}

.product-sticky__info > span {
  position: relative;
  display: inline-block;
  height: 4px;
  width: 4px;
  background: currentColor;
  vertical-align: middle;
}

.product-sticky__actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.product-sticky__submit {
  width: 100%;
}

@media screen and (max-width: 749px) {
  .product-sticky__inner {
    flex-direction: column;
    gap: 1rem;
  }

  .product-sticky__actions {
    width: 100%;
    justify-content: center;
  }

  .product-sticky__actions product-form {
    width: 100%;
  }

  .product-sticky__submit {
    flex-shrink: initial;
  }
}
