.password-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.password-parent {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem 0;
}

.password__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password__header > * {
  margin: 0;
}

.password__form {
  max-width: 320px;
  width: 100%;
}
