<section class="seo-description">
  <div class="s-3">{{ page_title }}</div>
  <div class="p-3">{{ page_description }}</div>
</section>

{% schema %}
{
  "name": "SEO Description",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "SEO Description"
    }
  ]
}
{% endschema %}
